; http://editorconfig.org/
; Originally copied from https://github.com/editorconfig/editorconfig-core-go/blob/master/.editorconfig and modified to
; define indentation rules for non-golang files.

root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

[*.go]
indent_style = tab
indent_size = tab

[*.md]
trim_trailing_whitespace = false
